
.container{
    background-color:bisque;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 3rem;

}

.card{
    background-color:antiquewhite;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 280px;
    margin-right: 280px;
    padding-bottom: 0px;
   

    border-color: black;
    border-style: solid;
    border-radius:10px;
    
}

.verCompra{
    background-color:beige;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    border-color: black;
    border-style: solid;
    border-radius:10px;
    margin-left: 325px;
    margin-top: 30px;
    margin-bottom: 30px;
   
}

.contenidoCarrito{
    background-color:bisque;
    display:block;
    justify-content: center;
    justify-items: center;
    margin-left: 325px;
    margin-right: 325px;
    padding: 3rem;
    border-color: black;
    border-style: solid;
    border-radius:10px;

}

